<div class="w-100 flex flex-col content-center">
  <div class="px-12 py-4 bg-ancientBeige border-paleBlue border-2 rounded-lg bg-opacity-25">
    <h2 class="font-bold text-2xl text-center">
      Chess Application built with Rails 7 and Hotwire
    </h2>
  </div>
</div>
