
<%= turbo_frame_tag "new_game" do %>
    <div class="w-full h-full p-24 absolute left-0 top-0 flex justify-center content-center bg-slate-700 bg-opacity-20">
        <div class="block p-8 bg-slate-600 rounded-lg">
            <%= render "forms/opponents" %>
        </div>
    </div>
<% end %>