
<%= turbo_frame_tag "new_game" do %>
    <div data-controller="modal">
        <div
            data-modal-target="modal"
            data-action="click->modal#close"
            class="w-full h-full p-24 absolute left-0 top-0 flex justify-center content-center items-center bg-slate-700 bg-opacity-20">
            <div class="inline-block max-h-fit shrink p-8 bg-slate-600 rounded-lg">
                <%= render "forms/opponents" %>
            </div>
        </div>
    </div>
<% end %>