<div class="w-100 min-h-screen mt-12 w-100 items-stretch flex md:flex-row flex-col">
	<div id="players" class="grow md:w-1/4  px-4 py-8">
		<%= render "games/partials/players" %>
	</div>
	<div class="grow flex flex-wrap md:w-3/4 flex-col content-center md:content-start md:justify-center">
		<div class="flex justify-end content-center px-8 py-8">
			<%= link_to "New Game",
				init_game_path,
				class: "btn btn__cta p-1 text-base",
				data: { turbo_frame: "new_game" } %>
		</div>

		<%= turbo_frame_tag "new_game" %>

		<%= render "games/partials/board", presenter: @presenter, user: @user %>
	</div>
</div>
