html {
    height: 100vh;
}

body {
    background: theme('colors.baseBlack');
    color: theme('colors.goldenText');
    height: 100vh;
}

select, option {
    background-color: theme('colors.baseBlack');
}

.btn {
    padding: 0.8rem 2rem;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.25rem;
    transition: all 150ms ease-in-out;

    &.btn__cta {
        border: 2px solid theme('colors.paleBlue');
        background-color: theme('colors.brightBlue');
        color: theme('colors.lightRed');

        &:hover {
            border: 2px solid theme('colors.brightBlue');
            background-color: theme('colors.paleBlue');
            color: theme('colors.warriorRed');
        }
    }
}

.select-form {
    background: theme('colors.baseBlack');

    &:focus {
        outline: none;
        border-color: theme('colors.warriorRed');
        box-shadow: none;
    }  
}

.square {
    padding-bottom: 5px;
    width: 60px;
    height: 60px;
    border: 1px solid theme('colors.baseBlack');
    display: flex;
    justify-content: center;
    align-items: flex-end;

    &.black {
        background-color: theme('colors.nightSea');
    }

    &.white {
        background-color: theme('colors.ancientBeige');
    }

    &.move-available {
        background-color: theme('colors.red.500');
    }

    &.piece-selected {
        box-shadow: inset 1px 1px 3px 2px theme('colors.green.500');;
    }

    @media screen and (max-width: 550px) {
        width: 30px;
        height: 30px;    
    }
}

.numerals {
    width: 2rem;
    padding: 0 1rem;
}

.svg-piece {
    max-width: 95%;
    max-height: 95%;
    pointer-events: none;

    &.pawn {
        max-width: 60%;
        max-height: 60%;
    }

    &.knight {
        max-width: 75%;
        max-height: 75%;        
    }

    &.rook {
        max-width: 65%;
        max-height: 65%;
    }

    .piece-white {
        stroke: black;
        color: #ffe8ca;
    }

}

.close-modal-icon {
    width: 35px;
    height: 35px;
    position: absolute;
    right: 2rem;
    top: 1rem;
    padding: 0;
    cursor: pointer;
    color: theme('colors.brightBlue');
    background: theme('colors.slate.500');
    border: 1px solid theme('colors.baseBlack');
    font-size: 1.25rem;
    text-align: center;
    border-radius: 10px;
    transition: all 0.15s ease-in-out;

    &:hover {
        background: theme('colors.slate.400'); 
        color: theme('colors.paleBlue');
    }
}