
<div class="w-full bg-slate-600 text-brightBlue p-2 rounded-lg border border-slate-950 md:ms-8 mb-4">
    <% unless player.nil? %>
        <h4><%= player[:display_name] %></h4>
        <h5>Rating: <%= player[:rank] %> Level: <%= player[:level] %></h5>
    <% else %>
        <h4>Start New Game and select Opponent!</h4>
    <% end %>
</div>