<footer class="w-100 bg-warriorRed">
    <div class="w-100 py-4 px-8 flex justify-end">
        <div class="self-end">
            <a class="text-goldenText hover:text-ancientBeige" href="https://futurelithics.com">Future Lithics LLC 2024</a>
        </div>
    </div>
</footer>