<header class="w-full bg-coal text-ancientBeige shadow-md shadow-warriorRed">
    <div class="w-full px-8 py-4 flex justify-between">
        <div>
            <a href="<%= root_path %>"><h1 class="text-4xl font-semibold">Rails Chess</h1></a>
        </div>
        <div class="flex flex-col justify-center">
            <a href="https://github.com/FutureLithics/chess-app-rails" target="_blank">
                Github Repo
            </a>
        </div>
    </div>
    <div class="w-full bg-zinc-800">
        <!-- Todo Flesh out Flash -->
        <% flash.each do |type, msg| %>
        <div>
            <%= msg %>
        </div>
        <% end %>
    </div>
</header>