<header class="w-full bg-coal text-ancientBeige shadow-md shadow-warriorRed">
    <div class="px-8 py-4 flex">
        <a href="<%= root_path %>"><h1 class="text-4xl font-semibold">Rails Chess</h1></a>

    </div>
</header>